@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li, a, button{
  font-family: "Montserrat", sans-serif;
}

.nav-links li a{
  transition: all 0.5s ease 0s;
}
button{
  padding: .3rem .8rem;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  font-size: 1rem;
}
button:hover{
  font-size: 1.2rem;
}
.pad{
  margin-right: 3rem;
}